.leadList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leadIcon {
  width: 42px;
  height: 42px;
  margin-bottom: 10px;
}

.leadItem {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.leadItem:first-child::after {
  position: absolute;
  left: 73px;
  top: 19px;
  content: '';
  width: 50px;
  height: 1px;
  background: #cbcbd4;
  background-repeat: no-repeat;
}

.leadItem:nth-child(2):after {
  position: absolute;
  left: 93px;
  top: 19px;
  content: '';
  width: 50px;
  height: 1px;
  background: #cbcbd4;
  background-repeat: no-repeat;
}

.leadIconLine {
  width: 50px;
  height: 0.5px;
}

.leadText {
  color: var(--black);
  text-align: center;
  font-family: metropolis-medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 243%;
}

.stepOneWrap {
  margin: 54px 0px 0px;
  padding-bottom: 152px;
}
.stepTwoWrap {
  margin: 48px 0px 0px;
  padding-bottom: 196px;
}
.stepThreeWrap {
  margin: 48px 0px 0px;
  padding-bottom: 64px;
}
.stepFourWrap {
  margin: 48px 0px 0px;
  padding-bottom: 173px;
}
.stepFiveWrap {
  margin: 48px 0px 0px;
  padding-bottom: 142px;
}
.stepSixWrap {
  margin: 54px 0px 0px;
  padding-bottom: 152px;
}
.stepSevenWrap {
  margin: 48px 0px 0px;
}
.stepEightWrap {
  padding-top: 130px;
}
.stepNineWrap {
  padding-top: 130px;
  padding-bottom: 212px;
}
.stepNotifyWrap {
  margin: 112px 0px 0px;
}

@media screen and (min-width: 762px) {
  .leadList {
    justify-content: center;
    gap: 155px;
  }

  .leadIcon {
    width: 48.5px;
    height: 48.5px;
    margin-bottom: 15.5px;
  }

  .leadItem:first-child::after {
    left: 71px;
    top: 22px;
    width: 140px;
  }

  .leadItem:nth-child(2):after {
    width: 140px;
    left: 90px;
    top: 22px;
  }

  .leadText {
    line-height: 228%;
  }

  .stepOneWrap {
    margin: 64px 0px 0px;
    padding-bottom: 290px;
  }
  .stepTwoWrap {
    margin: 64px 0px 0px;
    padding-bottom: 448px;
  }
  .stepThreeWrap {
    margin: 64px 0px 0px;
    padding-bottom: 264px;
  }
  .stepFourWrap {
    margin: 64px 0px 0px;
    padding-bottom: 224px;
  }
  .stepFiveWrap {
    margin: 64px 0px 0px;
    padding-bottom: 224px;
  }
  .stepSixWrap {
    margin: 64px 0px 0px;
    padding-bottom: 152px;
  }
  .stepSevenWrap {
    margin: 64px 0px 0px;
  }
  .stepEightWrap {
    padding-top: 172px;
  }
  .stepNineWrap {
    padding-top: 250px;
    padding-bottom: 394px;
  }
  .stepNotifyWrap {
    margin: 210px 0px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .leadList {
    gap: 200px;
  }

  .leadIcon {
    width: 56px;
    height: 56px;
    margin-bottom: 16px;
  }

  .leadItem:first-child::after {
    left: 88px;
    top: 26px;
    width: 160px;
  }

  .leadItem:nth-child(2):after {
    left: 112px;
    top: 26px;
    width: 160px;
  }

  .leadText {
    font-size: 16px;
    line-height: 212%;
  }

  .stepOneWrap {
    margin: 48px 0px 0px;
    padding-bottom: 234px;
  }
  .stepTwoWrap {
    margin: 48px 0px 0px;
    padding-bottom: 402px;
  }
  .stepThreeWrap {
    margin: 48px 0px 0px;
    padding-bottom: 132px;
  }
  .stepFourWrap {
    margin: 48px 0px 0px;
    padding-bottom: 336px;
  }
  .stepFiveWrap {
    margin: 48px 0px 0px;
    padding-bottom: 338px;
  }
  .stepSixWrap {
    margin: 48px 0px 0px;
    padding-bottom: 338px;
  }
  .stepSevenWrap {
    margin: 48px 0px 0px;
  }
  .stepEightWrap {
    padding-top: 104px;
  }
  .stepNineWrap {
    padding-top: 220px;
    padding-bottom: 386px;
  }
  .stepNotifyWrap {
    margin: 130px 0px 0px;
  }
}
