.container {
  width: 342px;
  margin: 0 auto;
}

.leadSection {
  padding-top: 48px;
  padding-bottom: 120px;
}

.leadList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leadIcon {
  width: 42px;
  height: 42px;
  margin-bottom: 10px;
}

.leadItem {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.leadItem:first-child::after {
  position: absolute;
  left: 73px;
  top: 19px;
  content: '';
  width: 50px;
  height: 1px;
  background: #cbcbd4;
  background-repeat: no-repeat;
}

.leadItem:nth-child(2):after {
  position: absolute;
  left: 93px;
  top: 19px;
  content: '';
  width: 50px;
  height: 1px;
  background: #cbcbd4;
  background-repeat: no-repeat;
}

.leadIconLine {
  width: 50px;
  height: 0.5px;
}

.leadText {
  color: var(--black);
  text-align: center;
  font-family: metropolis-medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 243%;
}

.stepOneWrap {
  margin-top: 48px;
}

@media screen and (min-width: 762px) {
  .container {
    width: 762px;
  }
  .leadSection {
    padding-top: 72px;
    padding-bottom: 218px;
  }
  .leadList {
    justify-content: center;
    gap: 155px;
  }
  .leadIcon {
    width: 48.5px;
    height: 48.5px;
    margin-bottom: 15.5px;
  }

  .leadItem:first-child::after {
    left: 71px;
    top: 22px;
    width: 140px;
  }

  .leadItem:nth-child(2):after {
    width: 140px;
    left: 90px;
    top: 22px;
  }

  .leadText {
    line-height: 228%;
  }

  .stepOneWrap {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .leadList {
    gap: 200px;
  }

  .leadIcon {
    width: 56px;
    height: 56px;
    margin-bottom: 16px;
  }

  .leadItem:first-child::after {
    left: 88px;
    top: 26px;
    width: 160px;
  }

  .leadItem:nth-child(2):after {
    left: 112px;
    top: 26px;
    width: 160px;
  }

  .leadText {
    font-size: 16px;
    line-height: 212%;
  }
}
